.FolioImg {
    margin-top: 400px;

    .FolioImg__ContentDscription {
        float: left;
        margin-left: 500px;
        padding: 0%;
    
        .ContentDscription--WordImg {
            width: 345px;
            height: 345px;
        }

        .ContentDscription--CupImg {
            width: 345px;
            height: 340px;
        }

        .ContentDscription--GirlImg {
            width: 345px;
            height: 350px;
        }

        .ContentDscription--TshirtImg {
            width: 345px;
            height: 350px;
        }
    }
    
    .ContentDscription__WaveSticker {
        position: absolute;
        top: 880px;
        right: 310px;
        width: 30px;
        height: 30px;
    }

    .ContentDscription__OnewaveSticker {
        position: absolute;
        top: 1480px;
        right: 310px;
        width: 30px;
        height: 30px;
    }

    .ContentDscription__StickerImg {
        position: absolute;
        top: 1400px;
        left: 450px;
        width: 30px;
        height: 30px;
    }
}