.FolioImg {
    margin-top: 450px;

    .FolioImg__ContentDscription {
        float: left;
        margin-left: 300px;
        padding: 0%;
    
        .ContentDscription--WordImg {
            width: 450px;
            height: 450px;
        }

        .ContentDscription--CupImg {
            width: 450px;
            height: 445px;
        }

        .ContentDscription--GirlImg {
            width: 450px;
            height: 450px;
        }

        .ContentDscription--TshirtImg {
            width: 450px;
            height: 450px;
        }
    }
    
    .ContentDscription__WaveSticker {
        position: absolute;
        top: 550px;
        right: 300px;
        width: 30px;
        height: 30px;
    }

    .ContentDscription__OnewaveSticker {
        position: absolute;
        top: 1050px;
        right: 300px;
        width: 30px;
        height: 30px;
    }

    .ContentDscription__StickerImg {
        position: absolute;
        top: 1200px;
        left: 250px;
        width: 30px;
        height: 30px;
    }


}