.Auther__Information {
  background-color: #000000;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9;
}

.Auther__Information .Auther__Content {
  width: 40%;
}

.Auther__Information .Auther__Content .Content__Background {
  height: 150px;
  width: 100%;
}

.Auther__Information .Auther__Content .Auther__Idntity {
  text-align: center;
  margin-top: 20px;
  color: #808080;
  font-size: 25px;
}

.Auther__Information .Auther__Content .Auther__Idntity--Name {
  color: #FFFFFF;
  font-size: 25px;
}

.Auther__Information .Auther__Content .Auther__Idntity--Family {
  color: #FFFFFF;
  font-size: 25px;
  font-weight: bold;
}

.Auther__Information .Auther__Content .Content__Discribtion {
  text-align: center;
  font-size: 10px;
}

.Auther__Information .Auther__Content .Auther__Contact {
  text-align: center;
  font-size: 10px;
  color: #808080;
  padding: 30px;
}

.Auther__Information .Auther__Content .Auther__Img {
  position: absolute;
  top: 100px;
  left: 740px;
  height: 70px;
  width: 70px;
  overflow: hidden;
  border-radius: 50%;
}

.Auther__Information .Auther__Content .Content__Progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

.Auther__Information .Auther__Content .Photoshop--Lable {
  margin-left: 20px;
}

.Auther__Information .Auther__Content .Photoshop--Percentge {
  margin-left: 30px;
}

.Auther__Information .Auther__Content .Content__Progress--Photoshop {
  font-size: 10px;
  color: #FFFFFF;
  padding-right: 60px;
}

.Auther__Information .Auther__Content .Illustrator--Lable {
  margin-left: 20px;
}

.Auther__Information .Auther__Content .Illustrator--Percentge {
  margin-left: 30px;
}

.Auther__Information .Auther__Content .Content__Progress--Illustrator {
  font-size: 10px;
  color: #FFFFFF;
  padding-right: 60px;
}

.Auther__Information .Auther__Content .Html--Lable {
  margin-left: 20px;
}

.Auther__Information .Auther__Content .Html--Percentge {
  margin-left: 30px;
}

.Auther__Information .Auther__Content .Content__Progress--Html {
  font-size: 10px;
  color: #FFFFFF;
}

.Auther__Information .Auther__Content .Content__Historybox {
  font-size: 15px;
  color: #FFFFFF;
  padding-right: 50px;
}

.Auther__Information .Auther__Content .Historybox__Year {
  margin-left: 15px;
}

.Auther__Information .Auther__Content .Content__History {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50px;
  margin-bottom: 20px;
}

.Auther__Information .Auther__Content .Content__Historybox--Paragraph {
  font-size: 8px;
  padding-right: 10px;
}

.Auther__Information .Auther__Content .ContactInfo__Email {
  color: #4682B4;
  border-left: 2px solid #808080;
  padding-left: 5px;
}
/*# sourceMappingURL=Header.css.map */