@import "color";
.Auther__Information {
    background-color: #000000;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 9;

    .Auther__Content {
        width: 40%;
        .Content__Background {
            height: 150px;
            width: 100%;
        }

        .Auther__Idntity {
            text-align: center;
            margin-top: 20px;
            color: $gray; 
            font-size: 25px;
        }

        .Auther__Idntity--Name {
            color: $white;
            font-size: 25px;
        }
          
        .Auther__Idntity--Family {
            color: $white;
            font-size: 25px;
            font-weight: bold;
        }
        
        .Content__Discribtion {
            text-align: center;
            font-size: 10px;
        }
          
        .Auther__Contact {
            text-align: center;
            font-size: 10px;
            color: $gray; 
            padding: 30px;
        }
        
        .Auther__Img {
            position: absolute;
            top: 100px;
            left: 740px;
            height: 70px;
            width: 70px;
            overflow: hidden;
            border-radius: 50%; 
        }
        
        .Content__Progress {
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
        }
          
        .Photoshop--Lable {
            margin-left: 20px;
        }
          
        .Photoshop--Percentge{
            margin-left: 30px;
        }
          
        .Content__Progress--Photoshop {
            font-size: 10px;
            color: $white;
            padding-right: 60px;
        }
          
        .Illustrator--Lable {
            margin-left: 20px;
        }
          
        .Illustrator--Percentge{
            margin-left: 30px;
        }
          
        .Content__Progress--Illustrator {
            font-size: 10px;
            color: $white;
            padding-right: 60px;
        }
          
        .Html--Lable {
            margin-left: 20px;
        }
          
        .Html--Percentge{
            margin-left: 30px;
        }
          
        .Content__Progress--Html {
            font-size: 10px;
            color: $white;
        }

        .Content__Historybox {
            font-size: 15px;
            color: $white;
            padding-right: 50px;
        }
          
        .Historybox__Year{
            margin-left: 15px;
        }
          
        .Content__History{
            display: flex;
            justify-content: center;
            margin-left: 50px;
            margin-bottom: 20px;
        }
          
        .Content__Historybox--Paragraph {
            font-size: 8px;
            padding-right: 10px;
        }

        .ContactInfo__Email {
            color: #4682B4;
            border-left: 2px solid $gray;
            padding-left: 5px;
        }
    }
}
  