@import "./src/color.scss";

.ContactInfo {
    background-color: $lightblue;
    position: absolute;
    top: 1420px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

   .ContactInfo__Load {
        color: $black;
        font-size: 20px;  
        font-weight: bold;
    }
  
    .ContactInfo__ContactImg {
        width: 20px;
        height: 150px;
    }
   
    .ContactInfo__Mobile {
        font-size: 20px; 
        color: $black;
        font-weight: bold;
    }
       
    .ContactInfo__EmailParagraph {
        color: $lightgray;
        font-size: 15px;

     
        .ContactInfo__Email {
            color: $blue;
            border-left: 2px solid $gray;
            font-size: 15px;
            padding-left: 5px;
        }
    }

    .ContactInfo__Links {
        font-size: 15px; 
        margin-top: 50px;

        .Links__Item {
            color: $black;
            padding: 22px;  
            font-weight: bold;
            letter-spacing: 5px;
        }   
    }
}